/*Fontes
.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pixelify+Sans:wght@400..700&display=swap');


*{
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 50px;
    top: 0;
    width: 100%;
    position: fixed;
}

header>a{
    color: #FFD580; 
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

nav{
    margin-right: 5vh;
}

nav>a{
    margin-left: 10px;
    color: #FFD580;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px;
    font-size: large;
}

nav>a:hover{
    color: rgb(54, 36, 9);
}

#smith_plays{
    transition: 0.3s;
}

#smith_plays:hover{
    transform: scale(1.1);
}

body{
    background-image: url(imgs/nature-pixel-art-ai-generated-3840-x-2160-v0-hdoiobp7mzfc1.png);
    background-image: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

header>h1{
    color: #FFD580; 
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#container_sobreNos{
    /*Posições e dimensões*/
    justify-content: center;
    height: 60vh;
    width: 30vh;
    padding: 10px;
    padding-bottom: 0px;
    position: absolute;
    top: 20%;
    right: 10px;

    /*Estilo*/ 
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    border: 2px dotted #FFD580;

    /*Fontes*/
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: antiquewhite;
}

#container_sobreNos>h1{
    color: #FFD580;
    font-size: 30px;
    text-align: center;
    transition: 0.3s;
}

#container_sobreNos>h1:hover{
    color: rgb(54, 36, 9);
    filter: drop-shadow(0 0 5px #FFD580);
}

#container_sobreNos>p{
    padding-top: 10px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}

#luffy{
    transition: 0.5s;
}

#luffy:hover {
    transform: rotate(10deg);
}

#luffy::after {
    content: "Olá, Smither!";
    position: absolute;
    bottom: 100%; /* Distância entre o texto e o Luffy*/
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFD580;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

#luffy:hover::after {
    opacity: 1;
    visibility: visible;
}

#icons{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#icons>box-icon{
    margin-right: -5px;
}

a>box-icon{
    color: #FFD580;
    transition: 0.1s;
}

a>box-icon:hover{
    transform: scale(1.1);
}

#container_principal{
    /*Posições e dimensões*/
    justify-content: center;
    height: 59vh;
    width: 160vh;
    padding: 10px;
    margin-right: 10px;
    position: absolute;
    top: 20%;
    left: 10px;

    /*Estilo*/
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 2px dotted #FFD580;
    
}